div{
	margin: 0;
	padding: 0;
}
.header{
	background-color: #1b5589;
	padding: 5px;
}
ul{
	list-style-type: none;
}
.header img{
	width: 50px;
	height: 50px;
}
h1{
	font-weight: lighter;
}
a{
	display: block;
	color: #ccc;
	text-decoration: none;
}
.header a:hover{
	color: #fff;
	text-decoration: none;
}